[build-system]
requires = [
    "hatchling",
    "hatch-gradle-version>=0.9.8",
]
build-backend = "hatchling.build"

# project metadata

[project]
name = "hexdoc-{{ modid }}"
description = "{{ description }}"
readme = "doc/README.md"
authors = [
    { name="{{ github_user }}" },
]
keywords = ["hexdoc"]
requires-python = ">=3.12"
dynamic = ["version", "optional-dependencies"]
dependencies = [
    "hexdoc-hexcasting~=0.11.3.1.0",
]

[project.urls]
Homepage = "{{ homepage_url }}"
Source = "{{ sources_url }}"

# project version

[tool.hatch.version]
scheme = "gradle"
source = "gradle-properties"
py-path = "doc/src/hexdoc_{{ modid }}/__version__.py"
key = "modVersion"
{% if minecraft_version_in_mod_version %}
gradle-version-regex = { regex='^(.+?)(-.+)?$', repl='\1.{minecraftVersion}\2' }
{% endif %}

# Python dependencies

# required
#[tool.hatch.metadata.hooks.version-catalog]
#path = "libs.versions.toml"
#dependencies = [
#    { package="hexdoc-hexcasting", op="~=", py-version="1.0", key="hexcasting" },
#]

# dev-only
[dependency-groups]
dev = [
    "ruff",
]

[tool.uv.extra-build-dependencies]
hexdoc-hextemplate = ["pydantic_core"]

# directory inclusion

[tool.hatch.build]
only-include = [
    "doc/src/hexdoc_{{ modid }}",
    "gradle.properties",
]
artifacts = [
    "/doc/src/hexdoc_{{ modid }}/_export/generated",
    "/doc/src/hexdoc_{{ modid }}/__gradle_version__.py",
]

[tool.hatch.build.targets.wheel]
sources = ["doc/src"]

# hexdoc entry points

[project.entry-points.hexdoc]
{{ modid }} = "hexdoc_{{ modid }}._hooks:{{ classname }}Plugin"

# linting

[tool.pyright]
pythonVersion = "3.12"
pythonPlatform = "All"

include = ["doc/src"]
extraPaths = ["doc/src"]

typeCheckingMode = "standard"

strictDictionaryInference = true
strictListInference = true
strictSetInference = true

reportConstantRedefinition = "error"
reportIncompleteStub = "error"
reportInconsistentConstructor = "error"
reportInvalidStubStatement = "error"

reportDeprecated = "warning"
reportDuplicateImport = "warning"
reportMatchNotExhaustive = "warning"
reportMissingParameterType = "warning"
reportMissingTypeArgument = "warning"
reportMissingTypeStubs = "warning"
reportPrivateUsage = "warning"
reportTypeCommentUsage = "warning"
reportUnknownArgumentType = "warning"
reportUnknownLambdaType = "warning"
reportUnknownMemberType = "warning"
reportUnknownParameterType = "warning"
reportUnknownVariableType = "warning"
reportUnnecessaryCast = "warning"
reportUnnecessaryComparison = "warning"
reportUnnecessaryContains = "warning"
reportUnnecessaryIsInstance = "warning"
reportUntypedBaseClass = "warning"
reportUntypedClassDecorator = "warning"
reportUntypedFunctionDecorator = "warning"
reportUntypedNamedTuple = "warning"
reportUnusedClass = "warning"
reportUnusedExpression = "warning"
reportUnusedFunction = "warning"
reportUnusedImport = "warning"
reportUnusedVariable = "warning"