package {{ kotlin_package }}

import net.fabricmc.api.DedicatedServerModInitializer

object Fabric{{ classname }}Server : DedicatedServerModInitializer {
    override fun onInitializeServer() {
        {{ classname }}.initServer()
    }
}
