{
  name: "{{ modid }}.book.patterns.great_spells.{{ modid }}_great_spells",
  category: "hexcasting:patterns/great_spells",
  icon: "minecraft:birch_sign",
  advancement: "hexcasting:root",

  pages: [
    {
      type: "hexcasting:pattern",
      op_id: "{{ modid }}:congratulate/great",
      anchor: "{{ modid }}:congratulate/great",
      input: "entity",
      output: "",
      text: "{{ modid }}.book.patterns.great_spells.{{ modid }}_great_spells.congratulate/great",
    },
  ],
}